################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/bin/Debug
/.vs/Seiya/v15
/GenericParsing.dll
/Data
